/* Start Page */

#project_name {
    font-size: 60px;
}

#games_list_header {
    font-size: 30px;
    margin-bottom: 20px;
}

#games_list_tictactoe, #games_list_battleship, #games_list_other, #exit {
    font-size: 20px;
    padding: 10px;
}

/* Start Page End */


/* Tic Tac Toe Start Page */

#ttt_game_name {
    font-size: 60px;
}

#ttt_width_line, #ttt_height_line, #ttt_algorithms_line, #ttt_win_cnt_line, #ttt_start {
    font-size: 16px;
    padding: 10px;
}

#ttt_back {
    font-size: 16px;
    padding: 8px;
    margin: 0 150px;
}
#ttt_back:focus {
    margin: 0 150px;
    background-color: #E1E1E1;
    border: 2px solid #0078D7;
}

/* Tic Tac Toe Start Page End */


/* Tic Tac Toe Game Page */

#ttt_compare {
    height: 100px;
    width: 200px;
    font-size: 18px;
}

#ttt_add_algorithm {
    font-size: 20px;
}

#ttt_skip_game, #ttt_skip_battle {
    font-size: 18px;
    height: 45px;
    width: 250px;
}

#ttt_current_move_label, #ttt_step_by_step_mode, #ttt_current_winner_label {
    font-size: 20px;
    margin: 10px 0;
}

#ttt_game_back, #ttt_restart, #ttt_delete_all_algorithms {
    font-size: 16px;
    padding: 6px;
}

#ttt_algorithm_list {
    font-size: 16px;
}

/* Tic Tac Toe Game Page End */

/* Battleship Game Page */

#battleship_current_player {
    font-size: 22px;
}

#battleship_current_vs {
    font-size: 16px;
}

#battleship_back, #battleship_add_algorithm, #battleship_check, #battleship_next {
    font-size: 16px;
    padding: 20px 0;
}

/* Battleship Game Page End */
